<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mainconstruction.cn">



    <application
        android:name=".AppMainApp"
        android:allowBackup="true"
        android:label="@string/appmain_app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >
        <activity android:name=".activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
